<h1><%= @stadia.name%></h1>

<p>ID: <%= @stadia.id%></p>
<p>Capacity: <%= @stadia.capacity%></p>
<p>Indoor: <%= @stadia.indoor%></p>
<p>Created: <%= @stadia.created_at%></p>
<p>Updated: <%= @stadia.updated_at%></p>
