<h1> Teams </h1>

<% @teams.each do |team| %>
  <p><h3> <%= team.name %></h3></p> 
  <p> Sport: <%= team.sport %></p> 
  <p> Home Games: <%= team.home_games %></p> 
  <p> Away Games: <%= team.away_games %></p> 
  <p> Stadium ID: <%= team.stadium_id %></p> 

  <p> Mens: <%= team.male %></p> 
<%end%>