<h1><%= @stadia.name%></h1>
<h2><%= @teams.name%></h2>

<p>ID: <%= @teams.id%></p>
<p>Stadium ID: <%= @teams.stadium_id%></p>
<p>Indoor: <%= @teams.sport%></p>
<p>Home Games: <%= @teams.home_games%></p>
<p>Away Games: <%= @teams.away_games%></p>
<p>Men's Team: <%= @teams.male%></p>
<p>Created: <%= @teams.created_at%></p>
<p>Updated: <%= @teams.updated_at%></p>